h1
{
	color:#cc0052;
	
}

div.cities {
    background-color:#F0F0F1;
    color:black;
    margin:20px;
    padding:20px;
	height:950px;
	
	background-color: #F0F0F1;
    color: black;
    margin: 20px;
    padding: 20px;
    
    width: 700px;
	border-style: groove;
	border-radius:10px;
} 

body 
{
    background-color:#0A5A9F;
}

 .Generater
{
	
	width:700px; 	
	height:500px;
	visibility:hidden;
	
	 
}

.ShowInstruction
{
	visibility:hidden;
	color:black;

}
.backgroundBox
{
	
}

.inputtext
{
	background: grey; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(gray, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(gray, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(gray, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(gray, white); /* Standard syntax */
	font-family:calibri;
	
	width:400px;
	border-radius:5px;
	border-style: groove;
	
}

.SetRight
{
  display: inline-block;
    float: right;
    clear: right;

	width:200px;
	height:12px;
	border-radius:5px;
	margin-right:5px;	
}

}